body {
    background-color: black;
    background-image: url("../../qapla-seven.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* font-family: 'Merienda One', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Mogra', cursive; */

.App {
    color: #FF6500;
    font-family: 'Merienda One', cursive;
    text-shadow: black 0px 0px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sub-title {
    margin: .5vh;
    border-bottom: 2px solid #FF6500;
}

section {
    padding-left: 6vw;
    padding-right: 6vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.65);
    padding-bottom: 3vh;
}

.reg-log-header {
    font-size: 35px;
}

input[type=text] {
    background: none;
    border: none;
    border-bottom: 2px solid #FF6500;
    outline: none;
    color: #FF6500;
    margin-left: .5rem;
    margin-right: .5rem;
}

input[type=password] {
    background: none;
    border: none;
    border-bottom: 2px solid #FF6500;
    outline: none;
    color: #FF6500;
    margin-left: .5rem;
    margin-right: .5rem;
}

.label-input {
    display: flex;
    flex-direction: column;
}

a {
    color: #FF6500;
    text-decoration: none;
    cursor: pointer;
    transition: font-size .05s ease-out .1s
}

a:link {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #db3300;
    text-decoration: none;
    cursor: pointer;
    font-size: larger;
}

.solo-button {
    font-family: 'Merienda One', cursive;
    width: fit-content;
    background: none;
    color: white;
    border: 2px solid #FF6500;
    cursor: pointer;
    transition: font-size .05s ease-out .1s
}

.solo-button:hover {
    font-family: 'Merienda One', cursive;
    background: none;
    color: #db3300;
    border: 2px solid #db3300;
    font-size: larger;
}


@media only screen and (min-width: 375px) {
    body {
        background-image: url("../../qapla-six.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 425px) {
    body {
        background-image: url("../../qapla-five.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url("../../qapla-four.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-image: url("../../qapla-three.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        background-image: url("../../qapla-two.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
}
