body {
    background-image: url("../../qapla.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

