.app-name {
    font-size: 80px;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 10px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10vh;
}