.link-button {
    font-family: 'Merienda One', cursive;
    background: none;
    color: white;
    border: 2px solid #FF6500;
    cursor: pointer;
}

.link-button:hover {
    font-family: 'Merienda One', cursive;
    background: none;
    color: #db3300;
    border: 2px solid #db3300;
}

.dash-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;
}

.current-words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.word-results {
    display: flex;
    flex-direction: row;
    color: white;
}

.total-score {
    color: white;
}

.single-word {
    flex: 1 1 200px;
    flex: 0 1 200px;
    list-style-type: none;
    margin: 8px;
}

.count {
    margin: 0;
    padding: 5px;
}